<launch>
    <arg name="simulate" default="false" />

    <arg name="pkg" value="seabee3_driver" />
    <arg name="name" default="seabee3_driver" />
    <arg name="type" value="$(arg name)_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) _reconfigure/simulate:=$(arg simulate)" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <rosparam param="/$(arg name)/reconfigure" command="load" file="$(find seabee3_driver)/params/reconfigure.yaml" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />

<!-- if we're simulating, show the reconfigure window by default -->
    <arg name="show_reconfigure" default="$(arg simulate)" />
    <include file="$(find quickdev_cpp)/launch/dynamic_reconfigure.launch" >
        <arg name="enable" value="$(arg show_reconfigure)" />
        <arg name="name" value="$(arg name)" />
    </include>
</launch>
