<launch>
    <arg name="show_reconfigure" default="false" />

    <arg name="pkg" value="seabee3_physics" />
    <arg name="name" value="seabee3_physics" />
    <arg name="type" default="$(arg name)_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~motor_vals:=/seabee3/motor_vals ~kill_switch:=/seabee3/kill_switch" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <rosparam param="/$(arg name)/structures" command="load" file="$(find seabee3_common)/params/structures.yaml" />
    <rosparam param="/$(arg name)/structure_dynamics" command="load" file="$(find seabee3_common)/params/structure_types.yaml" />

    <include file="$(find seabee3_common)/launch/robot_model_transforms.launch" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />

    <include file="$(find quickdev_cpp)/launch/dynamic_reconfigure.launch" >
        <arg name="enable" value="$(arg show_reconfigure)" />
        <arg name="name" value="$(arg name)" />
    </include>

    <include file="$(find seabee3_driver)/launch/motor_values_gui.launch" >
        <arg name="show_reconfigure" value="$(arg show_reconfigure)" />
    </include>
</launch>
