<launch>
  <arg name="driver" default="true" />

  <include file="$(find uscauv_visualization)/launch/robot_visualization.launch" >
    <arg name="fixed_frame" value="/world" />
    <arg name="static" value="false" />
  </include>

  <include if="$(arg driver)" file="$(find xsens_driver)/launch/xsens_driver.launch" />

</launch>