<launch>
  <arg name="pkg" value="uscauv_visualization" />
  <arg name="name" value="object_visualizer" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="1" /> <!-- This node really doesn't do very much-->
  <arg name="args" value="_loop_rate:=$(arg rate)" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
