
<launch>
  <arg name="pkg" value="auv_missions" />
  <arg name="name" value="mission_test" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="args" value="_loop_rate:=$(arg rate) _auto_start:=true" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
