<launch>

  <!-- Convenience file for starting mission nodes and starting the robot -->

  <arg name="robot" default="seabee3" />
  <arg name="simulate" default="false" />
  <arg name="mission" default="test" />

  <include file="$(find auv_missions)/launch/$(arg robot)_bringup.launch">
    <arg name="simulate" value="$(arg simulate)" />
  </include>

  <include file="$(find auv_missions)/launch/$(arg mission)_mission.launch" />

  <include file="$(find uscauv_joystick)/launch/joystick_client.launch" />
  
</launch>