<launch>

  <!-- RVIZ (for matched objects) -->
  <include file="$(find uscauv_visualization)/launch/robot_visualization.launch">
    <arg name="static" value="false" />
  </include>

  <include file="$(find uscauv_visualization)/launch/object_visualizer.launch"/>

  <node pkg="image_view" type="image_view" name="match_view" 
	args="image:=shape_matcher/image_matched" />
  
</launch>