<launch>

  <!-- RVIZ (for matched objects) -->
  <include file="$(find uscauv_visualization)/launch/robot_visualization.launch">
    <arg name="static" value="false" />
  </include>

  <include file="$(find uscauv_visualization)/launch/object_visualizer.launch"/>

  <!-- <node pkg="image_view" type="image_view" name="match_view"  -->
  <!-- 	args="image:=shape_matcher/image_matched" /> -->

  <!-- <node pkg="image_view" type="image_view" name="forward_view"  -->
  <!-- 	args="image:=robot/cameras/forward/left/image_rect_color" /> -->

  <!-- <node pkg="image_view" type="image_view" name="blaze_orange_view"  -->
  <!-- 	args="image:=color_classifier/blaze_orange_classified" /> -->

  <!-- <node pkg="image_view" type="image_view" name="red_view"  -->
  <!-- 	args="image:=color_classifier/red_classified" /> -->
  
</launch>