<launch>
  <!-- Launch all necessary resources for mission control nodes to do their thing -->
  <arg name="simulate" default="false" />
  
  <!-- Controls -->
  <include file="$(find auv_controls)/launch/seabee3_controls.launch" />

  <!-- Seabee3 and Xsens Drivers -->
  <group unless="$(arg simulate)" >

    <remap from="seabee3/motor_vals" to="seabee3_adapter/motor_vals" />

    <include file="$(find seabee3_driver)/launch/seabee3_driver.launch" >
    </include>
    
    <include file="$(find xsens_driver)/launch/xsens_driver.launch" >
    </include>

  </group>

  <group ns="robot/cameras" >
    <include file="$(find uscauv_camera)/launch/monocular_camera.launch" >
      <arg name="camera" value="camera1" />
      <arg name="name" value="downward/right" />
    </include>
  </group>

  <node pkg="rosbag" type="record" name="rosbag_record"
	args="record -O $(find auv_missions)/bag /robot/cameras/downward/right/image_rect_color /robot/cameras/downward/right/camera_info /rosout /robot/sensors/depth
	      /tf"/>   
  
</launch>