<launch>
  <!-- Launch all necessary resources for mission control nodes to do their thing -->
  <arg name="simulate" default="false" />
  
  <!-- Controls -->
  <include file="$(find auv_controls)/launch/seabee3_controls.launch" />

  <!-- Hardware -->
  <group unless="$(arg simulate)" >

    <remap from="seabee3/motor_vals" to="seabee3_adapter/motor_vals" />

    <include file="$(find seabee3_driver)/launch/seabee3_driver.launch" >
    </include>
    
    <include file="$(find xsens_driver)/launch/xsens_driver.launch" >
    </include>
    
    <!-- <node pkg="rosbag" type="record" name="rosbag_record" -->
    <!-- 	  args="record -o $(find auv_missions)/bag -->
    <!-- 		/robot/cameras/forward/left/image_rect_color /robot/cameras/forward/left/camera_info /rosout /robot/sensors/depth -->
    <!-- 		/tf /control_server/motor_levels"/> -->

    <!-- <group ns="robot/cameras" > -->
    <!--   <include file="$(find uscauv_camera)/launch/monocular_camera.launch" > -->
    <!-- 	<arg name="camera" value="camera1" /> -->
    <!-- 	<arg name="name" value="downward/right" /> -->
    <!--   </include> -->
    <!-- </group> -->
    
    <include file="$(find auv_vision)/launch/vision_pipeline_bringup.launch" >
      <arg name="camera" value="camera3" />
      <arg name="camera_name" value="forward/left" />
    </include>		    

    <include file="$(find uscauv_visualization)/launch/link_model.launch" >
      <arg name="parent" value="/robot/controls/measurement" />
    </include>

  </group>

  <group if="$(arg simulate)" >

    <remap from="physics_simulator/thruster_wrench" to="thruster_mapper/thruster_wrench" />

    <include file="$(find auv_physics)/launch/physics_simulator_bringup.launch" >
      <arg name="robot" value="seabee3" />
    </include>
    
    <include file="$(find uscauv_visualization)/launch/link_model.launch" >
      <arg name="parent" value="/simulated_pose" />
    </include>

  </group>

</launch>