<launch>
    <arg name="pkg" value="seabee3_teleop" />
    <arg name="name" value="seabee3_teleop" />
    <arg name="type" default="$(arg name)_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~joystick:=/joy" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <arg name="controller" default="xbox360" />

    <rosparam param="/$(arg name)/joystick" command="load" file="$(find seabee3_teleop)/params/joystick_$(arg controller).yaml" />

    <node
        pkg="joy"
        type="joy_node"
        name="joy_node" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
