<launch>
    <arg name="pkg" value="contour_matcher" />
    <arg name="name" default="contour_finder" />
    <arg name="type" value="contour_finder_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~classified_images:=/color_classifier/classified_images" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />
    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
