<launch>
    <arg name="simulate" default="false" />

    <arg name="pkg" value="xsens_driver" />
    <arg name="name" value="xsens_driver" />
    <arg name="type" default="$(arg name)" />
    <arg name="rate" default="110" />
    <arg name="args" value="_loop_rate:=$(arg rate) _port:=/dev/seabee/imu" />

    <node
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />

</launch>
