<launch>
	<node pkg="color_classifier" type="trainer" name="trainer" args="image:=/image_server/output_image" output="screen" >
		<param name="train_ann" type="bool" value="false" />
		<param name="max_iterations" type="int" value="25000" />
		<param name="min_error" type="double" value="0.01" />
		<param name="num_layers" type="int" value="4" />
		<param name="layer0_size" type="int" value="3" />
		<param name="layer1_size" type="int" value="40" />
		<param name="layer2_size" type="int" value="40" />
		<param name="layer3_size" type="int" value="8" />
	</node>
	<node pkg="dynamic_reconfigure" type="reconfigure_gui" name="trainer_reconfigure_gui" />
</launch>