<launch>

	<group ns="camera_down_l" >
		<node name="camera_down_l" pkg="camera1394" type="camera1394_node">
			<param name="frame_id" type="string" value="camera_down_l" />
			<param name="bayer_pattern" type="string" value="rggb"/>
			<param name="guid" type="string" value="00b09d010090f9de"/>
			
			<param name="KK_fx" type="double" value="601.001202"/>
			<param name="KK_fy" type="double" value="600.869088"/>
			<param name="KK_cx" type="double" value="317.671724"/>
			<param name="KK_cy" type="double" value="228.386966"/>
			
			<param name="kc_k1" type="double" value="-0.394593"/>
			<param name="kc_k2" type="double" value="0.222719"/>
			<param name="kc_p1" type="double" value="-0.000064"/>
			<param name="kc_p2" type="double" value="0.001058"/>
		</node>

		<group ns="camera">
			<node name="image_proc" pkg="image_proc" type="image_proc" />
		</group>
	
	</group>	
</launch>
