<launch>
	<node
		pkg="seabee3_teleop"
		type="seabee3_teleop_node"
		name="seabee3_teleop"
		output="screen"
		args="~joystick:=/joy" >
		
		<param name="keep_alive_period" type="double" value="0.5" />

	<!-- axes -->
		<param name="axis0_name" type="string" value="linear.x" />
		<param name="axis0_index" type="int" value="1" />
	
		<param name="axis1_name" type="string" value="linear.y" />
		<param name="axis1_index" type="int" value="0" />
	
		<param name="axis2_name" type="string" value="linear.z" />
		<param name="axis2_index" type="int" value="4" />
		
		<param name="axis3_name" type="string" value="angular.z" />
		<param name="axis3_index" type="int" value="3" />
		
		<param name="axis4_name" type="string" value="fire_device" />
		<param name="axis4_index" type="double" value="5" />
	
	<!-- speed in m/s -->
		<param name="axis0_scale" type="double" value="1.5" />
		<param name="axis1_scale" type="double" value="0.75" />
		<param name="axis2_scale" type="double" value="0.15" />
		
	<!-- speed in rad/sec -->
		<param name="axis3_scale" type="double" value="1.57079633" />
		
	<!-- buttons -->
		<param name="button0_name" type="string" value="enable" />
		<param name="button0_index" type="int" value="4" />
	
		<param name="button1_name" type="string" value="next_firing_device" />
		<param name="button1_index" type="int" value="0" />
		
		<param name="button2_name" type="string" value="prev_firing_device" />
		<param name="button2_index" type="int" value="1" />
	
		<param name="button3_name" type="string" value="reset_pose" />
		<param name="button3_index" type="int" value="9" />
	</node>
</launch>
