<launch>
	<arg name="param_file_name" default="test_params" />
	<arg name="enable_reconfigure" default="false" />
	<arg name="name_prefix" default="color_classifier" />
	<arg name="name_postfix" default="" />
	<arg name="image" default="/image_server/output_image" />
	<arg name="image_transport" default="raw" />
	
	<arg name="name" value="$(arg name_prefix)$(arg name_postfix)" />

	<node pkg="color_classifier" type="color_classifier_node" name="$(arg name)" output="screen" args="~image:=$(arg image) _image_transport:=$(arg image_transport)" >
		<rosparam param="reconfigure" command="load" file="$(find color_classifier)/params/$(arg param_file_name).yaml" />
	</node>
	<group if="$(arg enable_reconfigure)" >
		<node pkg="dynamic_reconfigure" type="reconfigure_gui" name="$(arg name)_config" args="$(arg name)/reconfigure" />
	</group>
</launch>
