<launch>
	<arg name="color" default="orange" />
	<arg name="image_prefix" default="/media/LITTLE\ DUDE/seabee3_data/frames/03/frame0011" />
	<arg name="image_ext" default=".jpg" />
	<arg name="param_file" default="test_params" />
	<arg name="initialize" default="false" />
	
	<arg name="trainer_name" value="color_classifier_trainer" />
	
	<node pkg="color_classifier" type="trainer" name="$(arg trainer_name)" output="screen" args="_src_image:=$(arg image_prefix)$(arg image_ext) _mask_image:=$(arg image_prefix)_$(arg color)_mask$(arg image_ext) _color_name:=$(arg color) _channel0_name:=hue _channel1_name:=sat _channel2_name:=val" >
		<rosparam unless="$(arg initialize)" param="reconfigure" command="load" file="$(find color_classifier)/params/test_params.yaml" />
	</node>

	<!-- $(find color_classifier)/params/$(arg param_file).yaml -->
	<!-- /$(arg trainer_name)/reconfigure -->

	<rosparam command="dump" file="$(find color_classifier)/params/$(arg param_file).yaml" param="/$(arg trainer_name)/reconfigure" />
</launch>
