<launch>
  <arg name="simulate"  default="false" />
  <arg name="visualize" default="true" />
  <arg name="teleop"    default="true" />
    

  <include file="$(find seabee3_driver)/launch/seabee3_driver.launch" >
    <arg name="simulate" value="$(arg simulate)" />
  </include>
  
  <include file="$(find xsens_driver)/launch/xsens_driver.launch" >
    <arg name="simulate" value="$(arg simulate)" />
  </include>
  
  <include file="$(find seabee3_controls)/launch/simple_controls.launch" >
  </include>

  <!-- <include file="$(find seabee3_physics)/launch/seabee3_physics.launch" > -->
  <!-- </include> -->
  
  <include if="$(arg teleop)" file="$(find seabee3_teleop)/launch/seabee3_teleop.launch">
  </include>
    
  <include file="$(find seabee3_common)/launch/robot_model_transforms.launch" />

  <node if="$(arg visualize)" type="rviz" name="rviz" pkg="rviz">
  </node>
  
    
</launch>
