<launch>
    <arg name="camera_info" default="/camera1/camera_info"/>
    <arg name="pkg" value="landmark_finder" />
    <arg name="name" default="buoy_finder" />
    <arg name="type" default="buoy_finder_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~contours:=/contour_finder/contours ~landmarks:=/seabee3/landmarks ~camera_info:=$(arg camera_info)" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />
    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
