<launch>
	<node
		pkg="joy"
		type="joy_node"
		name="joy_node" />
		
	<arg
		name="use_ps3"
		default="false" />
	<include
		if="$(arg use_ps3)"
		file="$(find seabee3_teleop)/launch/teleop_ps3.launch" />
		
	<arg
		name="use_xbox360"
		default="false" />
	<include
		if="$(arg use_xbox360)"
		file="$(find seabee3_teleop)/launch/teleop_xbox360.launch" />
</launch>
