<launch>
    <arg name="simulate" default="false" />

    <arg name="pkg" value="seabee3_driver" />
    <arg name="type" value="seabee3_driver_node" />
    <arg name="name" default="$(arg type)" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) _simulate:=$(arg simulate)" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" >

        <param name="shooter1/trigger_time" type="int" value="100" />
        <param name="shooter1/trigger_value" type="int" value="75" />

        <param name="shooter2/trigger_time" type="int" value="100" />
        <param name="shooter2/trigger_value" type="int" value="-75" />

        <param name="dropper1/trigger_time" type="int" value="125" />
        <param name="dropper1/trigger_value" type="int" value="75" />

        <param name="dropper2/trigger_time" type="int" value="125" />
        <param name="dropper2/trigger_value" type="int" value="55" />

        <!-- ========== Motor/Behavior Tuning ========== -->

        <param name="speed_m1_dir" type="double" value="-1.0" />
        <param name="speed_m2_dir" type="double" value="-1.0" />

        <param name="strafe_m1_dir" type="double" value="-1.0" />
        <param name="strafe_m2_dir" type="double" value="1.0" />

        <param name="depth_m1_dir" type="double" value="-1.0" />
        <param name="depth_m2_dir" type="double" value="-1.0" />
    </node>
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
