<launch>

  <arg name="joystick" default="xbox360" />
  <arg name="robot" default="seabee3" />

  <include file="$(find auv_controls)/launch/$(arg robot)_controls.launch" />
  <include file="$(find joystick_config)/launch/upload_joystick_assignments.launch" />

  <arg name="pkg" value="auv_controls" />
  <arg name="name" value="axis_command_test" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="args" value="_loop_rate:=$(arg rate) _scale:=1" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
