<launch>

  <arg name="joystick" default="xbox360" />
  <arg name="robot" default="seabee3" />

  <remap from="pose_command_test/joy" to="/joy" />  

  <include file="$(find uscauv_joystick)/launch/joystick_driver.launch" >
    <arg name="type" value="$(arg joystick)" />
  </include>

  <include file="$(find auv_missions)/launch/$(arg robot)_bringup.launch" />
  <arg name="pkg" value="auv_controls" />
  <arg name="name" value="pose_command_test" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="args" value="_loop_rate:=$(arg rate)" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
