<launch>

  <remap from="seabee3_adapter/motor_levels" to="control_server/motor_levels" />

  <!-- Main Controller -->
  <include file="$(find auv_controls)/launch/control_server.launch" />

  <!-- Adapter -->
  <include file="$(find auv_controls)/launch/seabee3_adapter.launch" />

  <!-- Params -->
  <include file="$(find controls_config)/launch/upload_config.launch" />

  <!-- Thruster transforms and params -->
  <include file="$(find auv_model)/launch/upload_model.launch" >
    <arg name="robot" value="seabee3" />
  </include>

</launch>