
<launch>
  <arg name="pkg" value="auv_controls" />
  <arg name="name" value="seabee3_adapter" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="args" value="_loop_rate:=$(arg rate)" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
