<launch>
    <arg name="pkg" value="sonar_driver" />
    <arg name="name" default="sonar_driver" />
    <arg name="type" default="sonar_driver_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate)" />
    <node
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
