<launch>
    <arg name="source" default="adaptation_mask" />
    <arg name="mask" default="$(arg source)/output_adaptation_mask" />

    <arg name="pkg" value="color_classifier" />
    <arg name="name" value="color_classifier" />
    <arg name="type" default="$(arg name)_node" />
    <arg name="rate" default="25" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~adaptation_mask:=/$(arg mask) ~image:=/$(arg source)/output_image" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <rosparam param="/$(arg name)/model" command="load" file="$(find color_classifier)/params/model.yaml" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
