<launch>
	<node pkg="image_scaler" type="image_scaler_node" args=" ~image:=/camera2/image_rect_color ~camera_info:=/camera2/camera_info _width:=320" />
	<include file="$(find seabee3_launch)/camera2.launch" />

	<include file="$(find color_classifier)/launch/color_classifier.launch" >
		<arg name="image" value="/image_scaler/output_image" />
	</include>

	<node pkg="rosservice" type="rosservice" name="" args="call /color_classifier/set_enabled_colors [3]" />

	<include file="$(find landmark_finder)/launch/landmark_finder.launch" />

	<node pkg="rosservice" type="rosservice" name="" args="rosservice call /landmark_finder/set_enabled_landmarks [[0,3,[]]]" />

	<include file="$(find color_blob_finder)/launch/color_blob_finder.launch" />

	<include file="$(find seabee3_launch)/seabee3_physics.launch" />
</launch>
