<launch>
	<node pkg="image_server" type="image_server" name="image_server" output="screen" >
		<param name="prefix" type="string" value="$(find seabee3_launch)/frames/frame00" />
		<param name="start" type="int" value="0" />
		<param name="end" type="int" value="16" />
		<param name="digits" type="int" value="2" />
		<param name="ext" type="string" value=".jpg" />
		<param name="rate" type="double" value="0.5" />
		<param name="loop" type="bool" value="true" />
		<!-- _prefix:=/home/edward/workspace/seabee3-ros-pkg/seabee3_launch/frames/frame00 _start:=0 _end:=16 _digits:=2 _ext:=.jpg _rate:=0.5 _loop:=true -->
	</node>
</launch>
