<launch>
	<!-- args="x y z y p r frame1 frame2 hz" -->
	<!-- front strafe -->
	<node pkg="tf" type="static_transform_publisher" name="thruster0_tf" args="0.3 0 0 3.14159265 0 0 /seabee3/base_link /seabee3/thruster0 100" />
	<!-- fwd left -->
	<node pkg="tf" type="static_transform_publisher" name="thruster1_tf" args="0 0.2 0 -1.57079633 0 0 /seabee3/base_link /seabee3/thruster1 100" />
	
	<!-- depth left -->
	<node pkg="tf" type="static_transform_publisher" name="thruster2_tf" args="0 0.1 0 0 0 1.57079633 /seabee3/base_link /seabee3/thruster2 100" />
	<!-- fwd right -->
	<node pkg="tf" type="static_transform_publisher" name="thruster3_tf" args="0 -0.2 0 -1.57079633 0 0 /seabee3/base_link /seabee3/thruster3 100" />
	
	<!-- depth right -->
	<node pkg="tf" type="static_transform_publisher" name="thruster4_tf" args="0 -0.1 0 0 0 1.57079633 /seabee3/base_link /seabee3/thruster4 100" />
	<!-- back strafe -->
	<node pkg="tf" type="static_transform_publisher" name="thruster5_tf" args="-0.3 0 0 0 0 0 /seabee3/base_link /seabee3/thruster5 100" />

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera2" output="screen"
	args="0.157353 -0.155575 -0.0523748 -1.57079633 0 -1.57079633 /seabee3/base_link /camera2 100" />
</launch>
