Source: ros-electric-seabee3-ros-pkg-0
Section: unknown
Priority: extra
Maintainer: Edward T. Kaszubski <ekaszubski@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, pkg-config, ros-electric-interaction-quickdev-0
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ros-electric-seabee3-ros-pkg-0.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ros-electric-seabee3-ros-pkg-0.git;a=summary

Package: ros-electric-seabee3-ros-pkg-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-electric-interaction-quickdev-0
Description: Software for SeaBee3, USC's autonomous underwater robot
 Includes:
 - documentation
 - hardware drivers
 - test footage
