#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:
	. /opt/ros/electric/setup.sh && export ROS_PACKAGE_PATH=$$ROS_PACKAGE_PATH:/tmp/buildd && export ROS_PARALLEL_JOBS=-j$$(cat /proc/cpuinfo | grep -c processor) && dh $@

binary:
	. /opt/ros/electric/setup.sh && export ROS_PACKAGE_PATH=$$ROS_PACKAGE_PATH:/tmp/buildd && export ROS_PARALLEL_JOBS=-j$$(cat /proc/cpuinfo | grep -c processor) && dh $@

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info

%:
	dh $@
