<launch>
	<arg name="name_prefix" default="scan_line_converter" />
	<arg name="name_postfix" default="" />
	<arg name="scan_line" default="/tritech_micron/scan_line" />
	<arg name="rate" default="10" />
	
	<arg name="name" value="$(arg name_prefix)$(arg name_postfix)" />

	<node pkg="tritech_micron" type="scan_line_converter_node" name="$(arg name)" output="screen" args="_rate:=$(arg rate) ~scan_line:=$(arg scan_line)" >
	</node>

	<include file="$(find tritech_micron)/launch/sonar_frame.launch" />
	
	<arg name="show_image" default="true" />
	<include file="$(find seabee3_launch)/image_view.launch" >
		<arg name="enable" value="$(arg show_image)" />
		<arg name="name" value="$(arg name)" />
		<arg name="image" value="image" />
	</include>

	<arg name="show_reconfigure" default="true" />
	<include file="$(find seabee3_launch)/dynamic_reconfigure.launch" >
		<arg name="enable" value="$(arg show_reconfigure)" />
		<arg name="name" value="$(arg name)" />
	</include>
</launch>
