<launch>
	<arg name="rate" default="10" />
	<arg name="name_prefix" default="image_array_viewer" />
	<arg name="name_postfix" default="" />
	<arg name="images" default="/color_classifier/images" />
	
	<arg name="name" value="$(arg name_prefix)$(arg name_postfix)" />
	<arg name="pkg" value="image_array_viewer" />
	<arg name="node_type" value="$(arg pkg)_node" />

	<node pkg="$(arg pkg)" type="$(arg node_type)" name="$(arg name)" output="screen" args="_rate:=$(arg rate) ~images:=$(arg images)" />
