ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9D5", SYMLINK+="seabee/camera1"

ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9DE", SYMLINK+="seabee/camera2"

#ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9--", SYMLINK+="seabee/camera3"

ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9D6", SYMLINK+="seabee/camera4"

ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="FTDI", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A900ab92", SYMLINK+="seabee/powerboard"

ATTRS{idVendor}=="0403", ATTRS{idProduct}=="d38b", ATTRS{manufacturer}=="Xsens", ATTRS{product}=="Xsens USB-serial converter", ATTRS{serial}=="XSTONX47", SYMLINK+="seabee/imu"
