ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9D5", GROUP="plugdev", SYMLINK+="seabee/camera1", RUN+="/usr/local/uscauv/usb-notify.sh 'Camera 1' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9DE", GROUP="plugdev", SYMLINK+="seabee/camera2", RUN+="/usr/local/uscauv/usb-notify.sh 'Camera 2' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

#ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9--", GROUP="plugdev", SYMLINK+="seabee/camera3", RUN+="/usr/local/uscauv/usb-notify.sh 'Camera 3' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", ATTR{manufacturer}=="Point Grey Research", ATTR{product}=="Firefly MV FMVU-03MTC", ATTR{serial}=="0090F9D6", GROUP="plugdev", SYMLINK+="seabee/camera4", RUN+="/usr/local/uscauv/usb-notify.sh 'Camera 4' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="FTDI", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A900ab92", GROUP="plugdev", SYMLINK+="seabee/powerboard", RUN+="/usr/local/uscauv/usb-notify.sh 'Power Board V2' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTRS{idVendor}=="0403", ATTRS{idProduct}=="d38b", ATTRS{manufacturer}=="Xsens", ATTRS{product}=="Xsens USB-serial converter", ATTRS{serial}=="XSTONX47", GROUP="plugdev", SYMLINK+="seabee/imu", RUN+="/usr/local/uscauv/usb-notify.sh 'Xsens IMU' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTRS{idVendor}=="05e3", ATTRS{idProduct}=="0608", ATTRS{product}=="USB2.0 Hub", SYMLINK+="seabee/hub", RUN+="/usr/local/uscauv/usb-notify.sh 'Dynex USB Hub' '$attr{speed}' '$kernel' '$attr{bMaxPower}' "

ATTRS{idVendor}=="1a40", ATTRS{idProduct}=="0101", SYMLINK+="seabee/extender", RUN+="/usr/local/uscauv/usb-notify.sh 'USB Extender' '$attr{speed}' '$kernel' '$attr{bMaxPower}'"