<launch>
    <arg name="pkg" value="seabee3_controls" />
    <arg name="name" value="seabee3_controls" />
    <arg name="type" default="$(arg name)_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate)" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <rosparam param="/$(arg name)/pid" command="load" file="$(find seabee3_controls)/params/pid.yaml" />
    <rosparam param="/$(arg name)/reconfigure" command="load" file="$(find seabee3_controls)/params/reconfigure.yaml" />
    <node pkg="tf" type="static_transform_publisher" name="seabee3_physics_pose_to_seabee3_base_link" args="0 0 0 0 0 0 /seabee3/physics/pose /seabee/base_link 100" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg type) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
