<launch>
    <arg name="pkg" value="seabee3_demo" />
    <arg name="name" default="buoy_task" />
    <arg name="type" default="buoy_task_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~landmarks:=/seabee/landmarks" />
    <node
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
