<launch>
    <arg name="pkg" value="seabee3_demo" />
    <arg name="name" default="drag_calibration" />
    <arg name="type" default="$(arg name)_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~cmd_vel:=/seabee3/cmd_vel" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <node pkg="tf" type="static_transform_publisher" name="physics_pose_to_base_link" args="0 0 0 0 0 0 /seabee3/physics/pose /seabee3/base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="physics_pose_to_current_pose" args="0 0 0 0 0 0 /seabee3/physics/pose /seabee3/current_pose 100" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
