<launch>
    <arg name="pkg" value="seabee3_demo" />
    <arg name="name" default="gate_task" />
    <arg name="type" default="gate_task_node" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate)" />

    <rosparam param="/$(arg name)/params" command="load" file="$(find seabee3_demo)/params/gate_task.yaml" />

    <node
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
