<launch>
    <arg name="path_prefix" default="$(find seabee3_data)/frames/" />
    <arg name="file_prefix" default="frame00" />
    <arg name="ext" default="jpg" />
    <arg name="digits" default="2" />
    <arg name="start" default="0" />
    <arg name="end" default="16" />
    <arg name="width" default="-1" />
    <arg name="height" default="-1" />

    <arg name="pkg" value="image_server" />
    <arg name="name" default="image_server" />
    <arg name="type" value="$(arg name)_node" />
    <arg name="rate" default="15" />
    <arg name="args" value="_loop_rate:=$(arg rate) _prefix:=$(arg path_prefix)$(arg file_prefix) _ext:='.$(arg ext)' _digits:=$(arg digits) _start:=$(arg start) _end:=$(arg end) _width:=$(arg width) _height:=$(arg height)" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />

    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />

    <arg name="show_reconfigure" default="true" />
    <include file="$(find quickdev_cpp)/launch/dynamic_reconfigure.launch" >
        <arg name="enable" value="$(arg show_reconfigure)" />
        <arg name="name" value="$(arg name)" />
    </include>

    <arg name="show_image" default="true" />
    <include file="$(find quickdev_cpp)/launch/image_view.launch" >
        <arg name="enable" value="$(arg show_image)" />
        <arg name="use_nodelets" value="$(arg nodelet)" />
        <arg name="name" value="$(arg name)" />
    </include>
</launch>
