<launch>
  <arg name="pkg" value="object_tracking" />
  <arg name="name" value="unimodal_object_tracker" />
  <arg name="type" default="$(arg name)" />
  <arg name="rate" default="60" />
  <arg name="immediate_tracking" default="true" />
  <arg name="args" value="_loop_rate:=$(arg rate)
			  _immediate_tracking:=$(arg immediate_tracking)" />

  <node
      pkg="$(arg pkg)"
      type="$(arg type)"
      name="$(arg name)"
      args="$(arg args)"
      output="screen" />
  
</launch>
