<launch>
	<node pkg="seabee3_driver" type="seabee3_driver" name="seabee3_driver" output="screen">
		<param name="cmd_vel_timeout" type="double" value="2.0" />
		<!-- ========== PID tuning ========== -->
		
		<param name="depth_err_cap" type="int" value="100" />
		<param name="roll_err_cap" type="double" value="25.0" />
		<param name="pitch_err_cap" type="double" value="25.0" />
		<param name="heading_err_cap" type="double" value="25.0" />
		
		<param name="pid_D_p" type="double" value="2.5" />
		<param name="pid_D_i" type="double" value="0.05" />
		<param name="pid_D_d" type="double" value="0.6" />
		
		<param name="pid_R_p" type="double" value="2.5" />
		<param name="pid_R_i" type="double" value="0.05" />
		<param name="pid_R_d" type="double" value="0.2" />
		
		<param name="pid_P_p" type="double" value="2.5" />
		<param name="pid_P_i" type="double" value="0.05" />
		<param name="pid_P_d" type="double" value="0.2" />
		
		<param name="pid_Y_p" type="double" value="2.2" />
		<param name="pid_Y_i" type="double" value="0.05" />
		<param name="pid_Y_d" type="double" value="0.6" />
		
		<param name="pid_i_max" type="double" value="1.0" />
		<param name="pid_i_min" type="double" value="-1.0" />
		
		<!-- ========== Motor/Behavior Tuning ========== -->
		
		<param name="speed_m1_dir" type="double" value="1.0" />
		<param name="speed_m2_dir" type="double" value="1.0" />
		
		<param name="strafe_m1_dir" type="double" value="1.0" />
		<param name="strafe_m2_dir" type="double" value="1.0" />
		
		<param name="depth_m1_dir" type="double" value="1.0" />
		<param name="depth_m2_dir" type="double" value="1.0" />
		
		<param name="roll_m1_dir" type="double" value="-1.0" />
		<param name="roll_m2_dir" type="double" value="1.0" />
		
		<param name="heading_m1_dir" type="double" value="-1.0" />
		<param name="heading_m2_dir" type="double" value="1.0" />
		
		<param name="speed_axis_dir" type="double" value="-1.0" />
		<param name="strafe_axis_dir" type="double" value="1.0" />
		<param name="depth_axis_dir" type="double" value="-1.0" />
		<param name="roll_axis_dir" type="double" value="-1.0" />
		<param name="pitch_axis_dir" type="double" value="-1.0" />
		<param name="heading_axis_dir" type="double" value="-1.0" />
	</node>
</launch>
