<launch>
    <arg name="camera_name" />
    <arg name="calibrate" default="false" />
    <arg name="guid" />

    <node name="$(arg camera_name)" pkg="camera1394" type="camera1394_node" output="screen" >
        <param name="frame_id" type="string" value="$(arg camera_name)" />
        <param name="guid" type="string" value="$(arg guid)" />

        <remap from="~/camera_info" to="~/camera_info_raw" />
        <remap from="camera/image_raw" to="~/image_raw" />
        <remap from="camera/set_camera_info" to="~/set_camera_info" />
    </node>
    <group unless="$(arg calibrate)" ns="$(arg camera_name)">
        <param name="bayer_pattern" value="" />
        <node name="image_proc" pkg="image_proc" type="image_proc" output="screen">
            <remap from="image_raw" to="/$(arg camera_name)/image_color_scaled"/>
        </node>
    </group>

    <include if="$(arg calibrate)" file="$(find image_transforms)/launch/image_scaler.launch" >
        <arg name="image_in" value="$(arg camera_name)/image_raw"/>
        <arg name="image_out" value="$(arg camera_name)/image_color_scaled"/>
        <arg name="info_in" value="$(arg camera_name)/camera_info_raw"/>
        <arg name="info_out" value="$(arg camera_name)/camera_info"/>
        <arg name="debayer" value="true" />
        <arg name="scale_camera_info" value="true"/>
    </include>

    <include unless="$(arg calibrate)" file="$(find image_transforms)/launch/image_scaler.launch" >
        <arg name="image_in" value="$(arg camera_name)/image_raw"/>
        <arg name="image_out" value="$(arg camera_name)/image_color_scaled"/>
        <arg name="info_in" value="$(arg camera_name)/camera_info_raw"/>
        <arg name="info_out" value="$(arg camera_name)/camera_info"/>
        <arg name="publish_static_camera_info" value="true"/>
        <arg name="camera_info_url" value="package://seabee3_common/params/$(arg camera_name)_small.yaml"/>
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="debayer" value="true" />
        <arg name="scale_camera_info" value="false"/>
    </include>

    <rosparam unless="$(arg calibrate)" param="/$(arg camera_name)" command="load" file="$(find seabee3_common)/params/$(arg camera_name)_driver.yaml" />
</launch>
