<launch>
    <arg name="pkg" value="seabee3_controls" />
    <arg name="type" default="simple_controls" />
    <arg name="name" default="$(arg type)" />
    <arg name="rate" default="30" />
    <arg name="args" value="_loop_rate:=$(arg rate) ~cmd_vel:=/seabee3/cmd_vel ~motor_vals:=/seabee3/motor_vals" />
    <arg name="manager" default="manager" />
    <arg name="nodelet" default="false" />
    <node
        if="$(arg nodelet)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg name)"
        args="load $(arg pkg)/$(arg name) $(arg manager) $(arg args)"
        output="screen" />
    <node
        unless="$(arg nodelet)"
        pkg="$(arg pkg)"
        type="$(arg type)_node"
        name="$(arg name)"
        args="$(arg args)"
        output="screen" />
</launch>
