<launch>
  <!-- Name of the camera we will be streaming data from -->
  <arg name="camera" />
  <arg name="rate" default="60" />

  <!-- Color Classifier -->
  <remap from="color_classifier/image_color" to="$(arg camera)/image_color_scaled" />
  
  <include file="$(find color_classification)/launch/color_classifier.launch" >
    <arg name="rate" value="$(arg rate)" />
  </include>

  <include ns="model" file="$(find color_model)/launch/upload_test_colors.launch" />
  
  <!-- Camera -->
  <include file="$(find uscauv_camera)/launch/monocular_camera.launch" >
    <arg name="camera" value="$(arg camera)" />
  </include>
  
  <node name="$(arg camera)_view" type="image_view" pkg="image_view" args="image:=$(arg camera)/image_color" />
  <node name="color_view" type="image_view" pkg="image_view" args="image:=color_classifier/blaze_orange_classified" />

  <!-- Downscale input images so that classifer runs faster -->
  <include file="$(find image_transforms)/launch/image_scaler.launch" >
    <arg name="image_in" value="$(arg camera)/image_color" />
    <arg name="image_out" value="$(arg camera)/image_color_scaled" />
    <arg name="info_in" value="$(arg camera)/camera_info" />
    <arg name="info_out" value="$(arg camera)/camera_info_scaled" />
    <arg name="scale" value="0.5" />
  </include>

</launch>