<launch>

	<node pkg="seabee3_demo" type="competition_demo" name="competition_demo" output="screen" args="_rate:=20" >

    <param name="error_threshold" type="double" value="0.2"/>

    <param name="depth" type="double" value="1.7"/>

    <param name="distance_to_gate" type="double" value="10.0"/>
    <param name="do_buoy" type="bool" value="false"/>
	</node>

	<node pkg="tf" type="static_transform_publisher" name="gate"    args="11.4   0.0 -2.1 0 0 0 /landmark_map /gate    100" />
	<node pkg="tf" type="static_transform_publisher" name="hedge"   args="22.5  -0.5 -2.1 0 0 0 /landmark_map /hedge   100" />
	<node pkg="tf" type="static_transform_publisher" name="octagon" args="33.9 -18.8 -2.1 0 0 0 /landmark_map /octagon 100" />

</launch>
