<launch>
	<arg name="rate" default="10" />
	<arg name="use_nodelets" default="false" />
	<arg name="nodelet_manager_name" default="nodelet_manager" />
	<arg name="name_prefix" default="image_server" />
	<arg name="name_postfix" default="" />
	<arg name="prefix" default="$(find seabee3_launch)/frames/frame00" />
	<arg name="ext" default=".jpg" />
	<arg name="digits" default="2" />
	<arg name="start" default="0" />
	<arg name="end" default="16" />
	<arg name="width" default="-1" />
	<arg name="height" default="-1" />

	<arg name="name" value="$(arg name_prefix)$(arg name_postfix)" />
	<arg name="pkg" value="image_server" />
	<arg name="node_type" value="$(arg pkg)_node" />
	<arg name="nodelet_type" value="$(arg pkg)_nodelet" />

	<group unless="$(arg use_nodelets)" >
		<node pkg="$(arg pkg)" type="$(arg node_type)" name="$(arg name)" output="screen" args="_prefix:=$(arg prefix) _ext:='$(arg ext)' _digits:=$(arg digits) _start:=$(arg start) _end:=$(arg end) _width:=$(arg width) _height:=$(arg height)" />
	</group>

	<group if="$(arg use_nodelets)" >
		<node pkg="nodelet" type="nodelet" name="$(arg name)" output="screen" args="load $(arg pkg)/$(arg nodelet_type) $(arg nodelet_manager_name) _rate:=$(arg rate) _prefix:=$(arg prefix) _ext:='$(arg ext)' _digits:=$(arg digits) _start:=$(arg start) _end:=$(arg end) _width:=$(arg width) _height:=$(arg height)" />
	</group>

	<arg name="show_reconfigure" default="true" />
	<include file="$(find seabee3_launch)/dynamic_reconfigure.launch" >
		<arg name="enable" value="$(arg show_reconfigure)" />
		<arg name="name" value="$(arg name)" />
	</include>
	
	<arg name="show_image" default="true" />
	<include file="$(find seabee3_launch)/image_view.launch" >
		<arg name="enable" value="$(arg show_image)" />
		<arg name="name" value="$(arg name)" />
	</include>
</launch>
