<launch>
	<arg name="enable_reconfigure" default="false" />

	<arg name="name_prefix" default="image_server" />
	<arg name="name_postfix" default="" />
	<arg name="prefix" default="$(find seabee3_launch)/frames/frame00" />
	<arg name="ext" default=".jpg" />
	<arg name="digits" default="2" />
	<arg name="start" default="0" />
	<arg name="end" default="16" />
	<arg name="rate" default="10" />
	<arg name="width" default="-1" />
	<arg name="height" default="-1" />

	<arg name="name" value="$(arg name_prefix)$(arg name_postfix)" />

	<node pkg="image_server" type="image_server_node" name="$(arg name)" output="screen" args="_prefix:=$(arg prefix) _ext:='$(arg ext)' _digits:=$(arg digits) _start:=$(arg start) _end:=$(arg end) _width:=$(arg width) _height:=$(arg height) _rate:=$(arg rate)" />
	<group if="$(arg enable_reconfigure)" >
		<node pkg="dynamic_reconfigure" type="reconfigure_gui" name="$(arg name)_config" args="$(arg name)/reconfigure" />
	</group>
</launch>
