<launch>

  <arg name="camera" />
  <arg name="rate" default="60" />
  <arg name="color" default="blaze_orange" />

  <rosparam command="load" file="$(find shape_matching)/params/image_proc.yaml" ns="shape_matcher/image_proc" />

  <remap from="shape_matcher/image_mono" to="color_classifier/$(arg color)_classified" />

  <include ns="model" file="$(find shape_model)/launch/upload_shapes.launch" />

  <include file="$(find shape_matching)/launch/shape_matcher.launch" >
    <arg name="rate" value="$(arg rate)" />
  </include>

  <include file="$(find color_classification)/launch/color_classifier_demo.launch">
    <arg name="rate" value="$(arg rate)" />
    <arg name="camera" value="$(arg camera)" />
  </include>
  
  <node pkg="image_view" type="image_view" name="denoise_view" 
	args="image:=shape_matcher/image_denoised" />

  <node pkg="image_view" type="image_view" name="contours_view" 
	args="image:=shape_matcher/image_contours" />

  <node pkg="image_view" type="image_view" name="match_view" 
	args="image:=shape_matcher/image_matched" />
  
  <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfigure" /> -->

</launch>